.ff_Segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.small{
    font-size: x-small;
    color: white;
}
.font-bold{ 
    font-weight: bold;
}

mat-card {
    background: var(--gradient-card);
    border: 1px solid rgba(var(--border), 0.5);
    transition: all 0.3s ease;
}

mat-card:hover {
    box-shadow: 0 0 10px rgba(var(--primary), 0.4);
}


.justify-between {
    justify-content: space-between;
}

.text-sm {
    font-size: 0.875rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tag {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 9999px;
    background: var(--muted);
    color: var(--muted-foreground);
}

.text-foreground {
    color: var(--foreground);
}

.font-medium {
    font-weight: 500;
}

.list-disc {
    list-style-type: disc;
}

.list-inside {
    padding-left: 1rem;
}

.pt-4 {
    padding-top: 1rem;
}

.link-button {
    border: 1px solid rgba(var(--primary), 0.5);
    transition: background 0.3s ease;
}

.link-button:hover {
    background: rgba(var(--primary), 0.1);
}

.chip-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.chip {
    display: inline-block;
    width: auto;
    max-width: fit-content;
    background-color: hsl(262, 83%, 16%) !important;
    height: 20px;
    border: none !important;
    box-shadow: none !important;
    line-height: 16px;
}
::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.button-spacer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;

    .codeBtn {
        background-image: linear-gradient(to right, #4754e6 0%, #b956f6 51%, #4754e6 100%);
        padding: 14px 28px;
        transition: 0.5s;
        background-size: 200% auto;
        color: #000000;
        box-shadow: 0 0 8px 2px #9d43f184;
        border-radius: calc(var(--radius) - 2px);
    }

    .codeBtn:hover {
        background-position: right center;
        text-decoration: none;
    }

    .starBtn {
        border-radius: calc(var(--radius) - 2px);
        border-color: #841dc5;
        padding: 14px 28px;
        color: #ffffff;
        transition: 0.5s;
        background-color: #000000;
    }

    .starBtn:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
        background-color: #46055624;
    }

    .gitBtn{
        border: none;
        padding: 14px 28px;
        color: #ffffff;
        transition: 0.5s;
    }

    .gitBtn:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
        background-color: #a73bc224;
        
    }
}
